<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PUZMAGE multiplayer</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="css/multiplayer.css" />
</head>

<body onload="pageLoad()" onbeforeunload="playerLeaving()">
  <!-- Datos ocultos -->
  <div style="display: none;">
    <label id="sal_level"><%= sal.sal_level %></label>
    <label id="usu_id"><%= usu.usu_id %></label>
    <label id="usu_email"><%= usu.usu_email %></label>
    <label id="sal_code"><%= sal.sal_code %></label>
  </div>

  <!-- Cabecera -->
  <header style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Multiplayer match</h2>
    <div class="cmPlayersContainer" id="pContainer"></div>
  </header>

  <!-- Imagen previa -->
  <div class="cmImgContainer" id="imgContainer">
    <img class="cmImg" id="imgGame" src="<%= img.img_content %>" alt="img puzzle" />
  </div>

  <!-- Botón de listo -->
  <div style="text-align: center; margin-top: 1rem;">
    <button id="btnListo" class="btn btn-success" onclick="listo()">LISTO</button>
    <a id="salirBtn" style="display: none; margin-left: 1rem;" class="btn btn-primary" href="/profile">Salir</a>
  </div>

  <!-- Scripts -->
  <script src="../socket.io/socket.io.js"></script>
  <script src="js/multiplayer.js"></script>
</body>

</html>
